@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

body {
  background-color: #212121;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem;
  height: 15vh;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.search {
  position: relative;
}

.search input {
  position: relative;
  padding: 4px;
  padding-left: 35px;
  height: 2.5rem;
  width: 15rem;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #2c2b2b;
  color: #eeeeee;
}
.search input::placeholder {
  color: #eeeeee;
}

.search i {
  position: absolute;
  left: 0.5rem;
  top: 0.75rem;
  font-size: 18px;
  color: #eeeeee;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  padding: 0 10px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}
ul li a:hover {
  color: #ec407a;
}

.nav-menu-font {
  font-size: 14px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #2c2b2b;
  border: none;
  padding: 5px 10px;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
}

.profile img {
  width: 30px;
  border-radius: 50%;
}

.profile:hover {
  background-color: #ec407a;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content {
    background-color: #424242;
    width: 85%;
    height: calc(100vh - 15vh);
    border-radius: 25px;
    padding: 4rem;
}

.banner {
    background-image: url('/images/banner-bg.jpg');
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background-size: cover;
    border-radius: 27px;
}

.banner-content {
    margin: 0 4rem;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
    width: 70%;
}

.banner-content p {
    font-size: 25px;
}
.banner-content h1 {
    text-transform: uppercase;
    font-size: 60px;
}

.banner-content span {
    color: #ec407a;
}
.banner-content button {
    width: 13rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #ec407a;
    border: none;
    outline: none;
    font-weight: 800;
    color: #fff;
    letter-spacing: 2px;
}