*{
    padding: 0%;
    margin: 0%;
}
body{
 background-color: #000;
 padding: 15px 70px; 
}
header{
    /* background-color: #fff; */
    width: 100%;
    height: 150px;
}
nav{
    align-items: center;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.input-img{
    display: flex;
    /* padding-left: 60px; */
    align-items: center;
    gap: 8rem;
}
.input-img input{
     position: relative;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    color: #424242;
    background-color: antiquewhite;   
}
.div-input {
    position: relative;
    
}
.div-input i{
    position: absolute;
    left: 0.5rem;
    top: 1rem;
}
 ul{
    display: flex;
    /* flex-direction: column; */align-items: center;
    padding: 40px;
    gap: 20px;
    list-style: none;
}
ul li a{
    text-decoration: none; 
    color: #fff;
   
}
ul li a:hover {
    color: coral;
 }
.image a{
    display: flex;
    align-items: center; 
    gap: 0.75rem;
    background-color: #cd3e3e;
    border-radius: 40px;
    padding: 20px 30px;
}
.image img{
    width: 30px;
    border-radius: 50px;
    border: none;
}
.main-body{
    background-color: #424242;
    padding: 10px 50px;
    border-radius: 23px;
}
main{
     padding: 100px 50px;  
}
.banner{
  background-image: url(/images/banner-bg.jpg);  
  width: 100%;
    height: 60vh;
    object-fit: cover;
    background-size: cover;
    border-radius: 27px;}
.li-class{    
    padding: 100px 50px;  
    color: #fff;
    
}
.li-class li{
    font-size: 40px;
  list-style: none;
}
.li-class p{
    font-size: 50px;
    padding: 30px 0;
    
}
.li-class span{
    color: #ec407a;
}
.li-class button{
    font-size: 20px;
    width: 13rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #ec407a;
    border: none;
    outline: none;
    font-weight: 800;
    color: #fff;
    letter-spacing: 2px;
}
.li-class button:hover{
    color: #ec407a;
    background-color: #fff;
}
.banner2{
    padding-top: 80px;
    padding-right: 30px;
}
.body-second{
     padding: 10px 20px;
     padding-left: 6px;
      width: 100%;
    height: 100vh; 
     background-color: #000;   
     border-radius: 27px;  
}
.second-body{   
    /* background-color: #000;
    border-radius: 27px;  */
}
.second-body p{
    color: #fff;
    padding: 25px;
}
.second-body span{
   color: #ec407a;  
}
.body-image1{
    background-color: #424242;
    height: 270px;
 padding: 0 20px;
   border-radius: 23px; 
   position: relative; 
}
.body-second{
    padding: 0 60px;
    padding-left: 0.7px;
}
.third-body{
    display: flex;
   padding: 10px 80px;
 position: relative;
   gap: 50px;
   position: relative;
   /* background-color: #424242; */
}
.image-1body img{
    width: 170px;
    margin-top: 20px;
   border-radius: 23px;
    border: none;
    position: relative;
}
.image-2body img{
      margin-top: 20px;
   border-radius: 23px;
    width: 170px;
    height: 170px;
   /* position: relative;  */
}
.image-1body i{
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    color: yellow; 
}
.image-2body i{
     position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    color: yellow;  
}
.discover-button {
    position: relative;
}
.discover-button button{
    position: relative;
 width: 120px;
    height: 40px;
    border-radius: 23px;
    border: none;
    color: #fff;
    background-color:#ec407a ;
}
.discover-button button:hover{
    color: #cd3e3e;
    background-color: #fff;
}
button{
    position: absolute;
}